<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
    <h2>shortened url</h2>
    <ul>
      <% urlTable.forEach(function(obj) { %>
        <li><%=obj.name %> - <%= obj.url %></li>
    <% }); %>
  </ul>
</body>
</html>
