<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Write EJS code here to display shortened links -->
  <table>
    <ul>https://goo.gl/tX1jBu</ul>
    <ul>https://goo.gl/qtoZUU</ul>
    <ul>https://goo.gl/bPQRzS</ul>
    <ul><b>A link to shorten url:</b> https://goo.gl/</ul>
  </table>

</body>
</html>
