<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Shortened Url</h2>
    <ul>
      <% for (key in urlDatabase) { %>
        <li><%= key %> ---> <a href="<%= urlDatabase[key]%>"><%= urlDatabase[key] %></a>
          <form method="POST" action="/urls/<%= key %>?_method=DELETE">
            <button type="summit">delete</button>
          </form>
        </li>
      <% }; %>
    </ul>
    <p>did it update?</p>

</body>
</html>
